<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Six Number Input</title>
</head>
<body>
    <form>
    	<h2>Credit Score Classification</h2>
        <p>Enter</p>
        <label for="age">Age:</label>
        <input type="number" id="txt_age" name="txt_age" required><br><br>
        
        <label for="annual_income">Annual Income:</label>
        <input type="number" id="txt_annual_income" name="txt_annual_income" required><br><br>
        
        <label for="monthly_inhand_salary">Monthly Inhand Salary:</label>
        <input type="number" id="txt_mon_salary" name="txt_mon_salary" required><br><br>
        
        <label for="credit_mix">Credit Mix:</label>
        <input type="number" id="txt_credit_mix" name="txt_credit_mix" required><br><br>
        
        <label for="credit_history_age">Credit History Age:</label>
        <input type="number" id="txt_cred_hist_age" name="txt_cred_hist_age" required><br><br>
        
        <label for="amount_invested_monthly">Amount Invested Monthly:</label>
        <input type="number" id="txt_amt_invested" name="txt_amt_invested" required><br><br>
        
        <label for="monthly_balance">Monthly Balance:</label>
        <input type="number" id="txt_mon_balance" name="txt_mon_balance" required><br><br>
        
        <input type="submit" value="Submit">
    </form>
</body>
</html>
